body {
    /* background-color: black; */
    /* margin-top: 120px; */

}

* {
    box-sizing: border-box;
}

.wrap {
    border: 1px solid transparent;
    width: 1200px;
    height: 1080px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/bg.png);
    margin: 0 auto;
    overflow: hidden;
}

.img-animal {
    display: block;
    width: 300px;
    height: 300px;
    /* background-color: aqua; */
    margin: 0 auto;
}


.img-green {
    display: block;
    width: 300px;
    height: 50px;
    /* background-color: yellow; */
    margin: 0 auto;
}

.text-box {
    width: 300px;
    height: 256px;
    background-color: #9C6035;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 10px solid #46260E;
    margin: 0 auto;
}

.h1 {
    padding-top: 10px;
}

h1 {
    display: inline;
    color: #FFF;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

p {
    width: 260px;
    height: 130px;
    color: #E8BC9C;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.main-item {
    background-color: red;
    height: fit-content;
    margin: auto 0;
    margin-inline: auto;
}