@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #48110d;
  font-family: 'PyeongChangPeace-Bold', sans-serif;
}

h1 {
  font-size: 40px;
}

.harry {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  position: relative;
}

.harry .ear {
  background: #ffead7;
  border: 5px solid #000;
  width: 60px;
  height: 73px;
  display: inline-block;
  position: absolute;
  top: 25%;
}

.harry .ear::before {
  content: '';
  display: block;
  width: 35px;
  height: 8px;
  background: #000;
  position: absolute;
  top: 35px;
}

.harry .ear.left {
  border-radius: 80px 0 0 80px;
  position: absolute;
  left: -19%;
}

.harry .ear.left::before {
  border-radius: 10px 0 0 10px;
  transform: rotate(10deg);
  left: 30px;
  right: 0;
}

.harry .ear.right {
  border-radius: 0 80px 80px 0;
  position: absolute;
  right: -19%;
}

.harry .ear.right::before {
  border-radius: 0 10px 10px 0;
  transform: rotate(-10deg);
  right: 30px;
  left: 1;
}

.harry .hair-back {
  width: 495px;
  height: 344px;
  margin: auto; 
}


.harry .face{
  width:373px;
  height: 335px;
  border-radius: 100px;
  border: 5px solid #000;
  background-color: #ffead7;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 20%;
}

.harry .hair-front {
  width: 381px;
  height: 141px;
  position: absolute;
  bottom: 65%;
  left: -1.5%
}

.harry .scar {
  position: absolute;
  top: 3%;
  left: 44%
}

.harry .eye.brow {
  width: 100px;
  height: 23px;
  border: 1px solid #000;
  background-color: #422f00;
  position: absolute;
  top: 23%
}

.harry .eye.brow.left {
  border-radius: 50px 0 0 50px;
  position: absolute;
  transform: rotate(10deg);
  left: 10%
}

.harry .eye.brow.right {
  border-radius: 0 50px 50px 0;
  transform: rotate(-10deg);
  position: absolute;
  right: 10% 
}

.harry .eye.background {
  position: absolute;
  top: 35%;
}

.harry .eye.left.background {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  left: 18%;
}

.harry .eye.right.background {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  right: 18%
}

.harry .eye.black {
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50px;
  position: absolute;
  top: 37.5%;
}

.harry .eye.black.left {
  left: 20.5%;
}

.harry .eye.black.right {
  right: 20.5%;
}

.harry .eye.blue {
  width: 14px;
  height: 14px;
  background-color: #4971ff;
  border-radius: 50px;
  position: absolute;
  top: 39%
}

.harry .eye.blue.left {
  left: 22%;
}

.harry .eye.blue.right {
  right: 22%;
}


.harry .nose {
  position: absolute;
  top: 50%;
  left: 45%;
}

.harry .mouth {
  width: 126px;
  height: 41px;
  border-radius: 50px 50px 0px 0px;
  border: 1px solid #000;
  background-color: #ffacac;
  /* transform: rotate(180deg); */
  position: absolute;
  bottom: 10%;
  left: 33%;
  animation-name: happy-mouth;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.harry .glasses {
  background-image: url(./img/harry-glasses.png);
  width: 315px;
  height: 135px;
  background-position: center;
  position: absolute;
  left: 7%;
  top: 25%;
  animation-name: harry-gls;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

/* magic-wand */

.harry .magic-wand h1, p{
  display: inline-block;
  text-align: center;
  margin-top: 350px;
  color: #fff;
  position: relative;
}

.harry .magic-wand .wand {
  position: absolute;
  top: 100%;
  left: 90%;
}

.harry .magic-wand .wand::after {
  content:"";
  background-color: rgb(59, 121, 255);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px rgba(65, 105, 225, 0.7);
  display: block;
  position: absolute;
  top: -2%;
  left: -1%;
  animation-name: magic-wand;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  animation-duration: 4s;
  /* transition: all; */
}

@keyframes happy-mouth {
  0% {

  }

  70% {
    border-radius: 0 0 50px 50px;
  }

  100% {
    border-radius: 0 0 50px 50px;
  }
}

@keyframes magic-wand {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes harry-gls {
  0% {
    background-image: url(./img/harry-glasses.png);
  }

  50% {
    background-image: url(./img/harry-glasses.png);
  }

  70% {
    background-image: url(./img/harry-glasses-repair.png);
  }

  100% {
    background-image: url(./img/harry-glasses-repair.png);
  }
}