@media screen and (max-height:750px) {

    .section1 h2 {
        text-align: center;
    }

    .section2 .social-btns {
        flex-basis: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vh;
    }

    .section2 .social {
        max-width: calc(25% - 2vh);
        min-height: 45px;
        justify-content: center;
    }

    .section2 .social span {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }
}