* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}