/* reset */
* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    line-height: 1em;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

body {
    background-color: #D9D9D9;
}

ul,
ol {
    list-style: none;
}

/* style */
section {
    position: relative;
    min-height: 100%;
    height: auto;
}

.wrapper {
    background-color: #eee;
    width: 448px;
    margin: 10vh auto;
    border-radius: 20px;
}

.header {
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid #DDD;
    background: #FFF;
}

.title {
    color: #FF007A;
    padding: 46px 0;
    line-height: 2em;
    display: flex;
    gap: 2em;
}

.title::before {
    content: "";
    display: block;
    height: 2em;
    width: 0.5em;
    border-radius: 0px 10px 10px 0;
    background-color: #FF007A;
}

.section {
    padding: 38px;
}

.full-screen {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
}


#bucketForm.bottom-screen {
    position: sticky;
    bottom: 0;
}

#bucketlist {
    transition: all 1s;
}

#bucketlist li {
    border-radius: 10px;
    border: 4px solid #D9D9D9;
    background: #FFF;
    padding: 15px;
    margin-bottom: 14px;
    color: #333;
    display: flex;
}

#bucketlist li:hover {
    border: 4px solid #759CFF;
}

#bucketlist li span {
    flex-grow: 1;
    word-break: break-word;
}

#bucketlist li button {
    flex-basis: 40px;
    border-radius: 1em;
    display: block;
    color: #fff;
    width: 2em;
    height: 2em;
    border: none;
    background-color: #fff;
    flex-shrink: 0;
}

#bucketlist li:hover button {
    background-color: #759CFF;
}

#bucketForm {
    display: flex;
    flex-basis: 40px;
    gap: 0.5em;
    position: relative;
}

#bucketForm label {
    position: absolute;
    top: calc(50% - 1em);
    left: calc(15px + 2em);
    color: #FF007A;
    background-color: #fff;
    border-radius: 1em;
    padding: 0.5em;
    transition: all 0.5s;
}

#bucketForm label.bucketLabel {
    top: 1em;
}

#bucketForm input {
    display: inline-block;
    border-radius: 10px;
    border: 4px solid #D9D9D9;
    background: #FFF;
    padding: 15px;
    flex-grow: 1;
}

#bucketForm button {
    display: inline-block;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #FF007A;
    height: calc(15px * 2 + 1em + 4px * 2);
    flex-shrink: 0;
}

#bucketForm #add {
    padding: 15px;
}

#bucketForm #reset {
    flex-basis: 25px;
    min-width: 0;
    padding: 0;
    background-color: #aaa;
}