* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  list-style: none;
}


@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100vh;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular',sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --color-c4c4c4: #c4c4c4;
  --color-767676: #767676;
}

.container {
  width: 520px;
  height: fit-content;
  /* margin: auto; */
  border-radius: 5px;
  border: 1px solid var(--color-c4c4c4);
  background: #FFF;
}

.head {
  position: relative;
  padding: 25px; 
}

.head h1{
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 144px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.head .close {
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white ;
  background-position: center;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 35%;
  cursor: pointer;
}

/* .close:active {
  border: 1px solid var(--color-c4c4c4);
} */

.section {
  padding: 25px;
}

hr {
  border: 0;
  height: 1px;
  background: var(--color-c4c4c4);
}

.login-text{
  width: 369px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}

.input {
  width: 472px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--color-c4c4c4);
  background: #FFF;

  color: var(--color-767676);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input::placeholder {
  text-indent: 16px;
}

.input.id {
  border: 2px solid #F4492E;
}

.id-error {
  color: #F4492E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 10px;
}

/* .input-hide {
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

.input-hold {
  width: 22px;
  height: 22px;
  padding-left: 23px; 
  background-repeat: no-repeat;
  background-image: url('../img/check-box.png');
} */

.input-hold {
  color: var(--color-767676);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type=checkbox] {
  display:none; 
}

input[type=checkbox] + label { 
display: inline-block; 
cursor: pointer; 
margin: 17px auto 22px;
line-height: 22px; 
padding-left: 30px; 
background: url('../img/check-box.png') left/22px no-repeat; 
}

input[type=checkbox]:checked + label { 
background-image: url('../img/checked-box.png');
}

.login-btn {
  width: 472px;
  height: 50px;
  border-radius: 5px;
  background: #2F80ED;
  border: none;

  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.links {
  text-align: center;
  position: relative;
  margin: 20px auto 38px;
}

.links a {
  color: var(--color-767676);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.join {
  margin-right: 28px; 
}

.join::after {
  content:"|";
  color: var(--color-767676);
  position: absolute;
  top: 2px;
  left: 42%;
}

.login-sns {
  position: relative;
}
.hr-or::after {
  content:"또는";
  padding: 0 13px;
  color: var(--color-767676);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 42%;
}

.link-sns {
  margin-top: 25px;
}

[class^="sns-login"] {
  display: block;
  width: 472px;
  height: 50px;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  color: var(--color-767676);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
  line-height: 50px;
  position: relative;
}

[class^="sns-login"]::before {
  position: absolute;
  top: 27%;
  left: 12px;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url('../img/icon_sprites_retina.png');
}

.sns-login-google {
  border: 1px solid var(--767676, #767676);
}

.sns-login-facebook {
  border: 1px solid #2D9CDB;
}

.sns-login-naver {
  border: 1px solid #00BF18;
}

.sns-login-kakao {
  border: 1px solid #F2C94C;
  margin-bottom: 0;
}


.sns-login-google::before {
  width: 22px;
  height: 22px;
  background-size: 116px 82px;
  background-position: -52px -10px;
}

.sns-login-facebook::before {
  position: absolute;
  left: 15px;
  width: 13px;
  height: 24px;
  background-size: 116px 82px;
  background-position: -93px -10px;
}

.sns-login-naver::before {
  width: 22px;
  height: 22px;
  background-size: 117px 83px;
  background-position: -10px -10px;
}

.sns-login-kakao::before {
  width: 22px;
  height: 22px;
  background-size: 117px 84px;
  background-position: -10px -53px;
}
