* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  width: 520px;
  height: 712px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin: 10px 0 0 -25px;
}

.header {
  height: 50px;
}

.test {
  text-align: center;
  padding-top: 15px;
}

.close {
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  top: 0;
  right: 5%;
  margin-top: 15px;
  margin-left: 10px;
  background-color: inherit;
  color: #767676;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  margin-left: 0;
}

input {
  width: 472px;
  height: 50px;
  margin: 5px;
  margin-left: 0;
}

button {
  width: 472px;
  height: 50px;
  border-radius: 5px;
}

.login {
  background-color: #2f80ed;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  margin: 10px;
  margin-left: 0;
}

.status {
  display: flex;
  margin: 15px;
  margin-left: 0;
}

.check {
  width: 22px;
  height: 22px;
  border: 1px solid #767676;
  border-radius: 50%;
  margin-right: 10px;
}

.check p {
  text-align: center;
  color: #767676;
  width: 5.5px;
  height: 8.5px;
  padding-left: 5px;
}

p {
  text-align: center;
}

.section2 {
  margin-left: 25px;
}
.signupbtn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.signup {
  padding-right: 10px;
}

.find {
  padding-left: 10px;
}

.orline {
  display: flex;
  width: 472px;
  margin: 15px;
  margin-left: 0;
}
.orline hr {
  width: 210px;
  height: 0;
  margin-top: 10px;
}
.or {
  font-size: 14px;
  margin: 5px;
}

.btn button {
  background-color: #ffffff;
  margin: 5px;
  margin-left: 0;
}

.btn p {
  font-size: 16px;
  color: #767676;
  font-weight: 500;
}

img {
  position: absolute;
  left: 40px;
}

.goggle {
  border: 1px solid #767676;
}

.facebook {
  border: 1px solid #2d9cdb;
}

.naver {
  border: 1px solid #00bf18;
}

.kakaotalk {
  border: 1px solid #f2c94c;
}
