/* animation */
@keyframes rabbitMoving {
  0% {
    transform: translate(-50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-50%) rotate(20deg) scale(1);
  }
  50% {
    transform: translate(-50%) rotate(-20deg) scale(1.2);
  }
  80% {
    transform: translate(-50%) rotate(10deg) scale(1.2);
  }
  to {
    transform: translate(-50%) rotate(-10deg) scale(1);
  }
}

@keyframes leftearMoving {
  30% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(-25deg);
  }
}

@keyframes rightearMoving {
  30% {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@keyframes noseMoving {
  to {
    transform: scale(1.4);
  }
}

@keyframes cheekMoving {
  to {
    transform: scale(1.1);
  }
}

@keyframes eyeOpacity {
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes funOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* css */
body {
  background-color: #ccffcc;
}
.rabbit {
  animation: rabbitMoving 2s infinite alternate;
  width: 600px;
  height: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.face {
  border: 1px solid #cecece;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #fff9e9;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ear {
  border: 1px solid #cecece;
  width: 70px;
  height: 160px;
  background-color: #fff9e9;
  position: absolute;
  top: 18%;
}

.ear.left {
  animation: leftearMoving 1s infinite alternate;
  border-radius: 80px 60px 0 0;
  transform: rotate(-20deg);
  left: 28%;
}

.ear.right {
  animation: rightearMoving 1s infinite alternate;
  border-radius: 60px 80px 0 0;
  transform: rotate(20deg);
  right: 28%;
}

.ear.pink.left {
  background-color: #f9abb3;
  width: 50px;
  height: 140px;
  border-radius: 25px;
  top: 22%;
  left: 31%;
  transform: rotate(-20deg);
}

.ear.pink.right {
  background-color: #f9abb3;
  width: 50px;
  height: 140px;
  border-radius: 25px;
  top: 22%;
  right: 31%;
  transform: rotate(20deg);
}

.eye {
  width: 20px;
  height: 40px;
  background-color: black;
  border-radius: 45%;
  position: absolute;
  top: 35%;
  z-index: 3;
  animation: eyeOpacity 3s infinite alternate;
}

.eye.left {
  left: 28%;
}

.eye.right {
  right: 28%;
}

.fun {
  width: 35px;
  height: 35px;
  background-color: inherit;
  border-top: 6px solid black;
  border-right: 6px solid black;
  border-radius: 0;
  top: 35%;
  z-index: 3;
  position: absolute;
  animation: funOpacity 1s infinite alternate;
}

.fun.left {
  left: 25%;
  transform: rotate(45deg);
}

.fun.right {
  right: 25%;
  transform: rotate(225deg);
}

.nose.center {
  animation: noseMoving 0.3s infinite alternate;
  width: 40px;
  height: 15px;
  background-color: #f9abb3;
  position: absolute;
  top: 46%;
  left: 45%;
  border-radius: 40% 40% 70% 70%;
  z-index: 3;
}

.nose.middle {
  position: absolute;
  background-color: #cecece;
  width: 2px;
  height: 20px;
  top: 50%;
  left: 50.5%;
}

.nosebt {
  width: 60px;
  height: 30px;
  position: absolute;
  z-index: 2;
  background-color: #fff9e9;
}

.nosebt.left {
  top: 55%;
  left: 33.3%;
  border-bottom: 2px solid #cecece;
  border-right: 2px solid #cecece;
  border-radius: 0 0 50px 50px;
}

.nosebt.right {
  top: 55%;
  right: 31.8%;
  border-bottom: 2px solid #cecece;
  border-left: 2px solid #cecece;
  border-radius: 0 0 50px 50px;
}

.mouth {
  background-color: #ff7a95;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 45%;
  border-radius: 0 0 30px 30px;
  z-index: 1;
}

.cheek {
  background-color: #f6c7e8;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 68%;
  z-index: 4;
  animation: cheekMoving 1s infinite alternate;
}

.cheek.left {
  left: 26%;
}

.cheek.right {
  right: 26%;
}
