body,
h1,
p {
  font-size: unset;
  font-weight: unset;
  margin: 0;
}

.contain {
  background-image: url(images/bg.png);
  padding: 30px;
}
.wrapper {
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}
.animal,
.green {
  display: block;
  width: 100%;
}
.animal {
  aspect-ratio: 300/300;
  object-fit: cover;
}
.green {
  aspect-ratio: 300/50;
  object-fit: cover;
}
.animal-intro {
  padding: 10px 20px 65px 20px;
  background-color: #9c6035;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 10px solid #46260e;
}
.animal-intro h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.animal-intro p {
  color: #e8bc9c;
}
