@media screen and (max-width:750px) {
    header img {
        max-width: 360px;
    }

    .header {
        height: 30vh;
    }

    main .wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #section1 ul.get-cola {
        display: none;
    }

    .info button.get-btn {
        grid-column: 1 / span 2;
    }
}