:root {
    --blue: #6327FE;
    --grey: rgba(0, 0, 0, 0.50);
    --gray-1: #333;
    --bg: #EAE8FE;
}

body {
    background-color: var(--bg);
}

h2 {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 13px;
}

span {
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

strong {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header {
    height: 300px;
    width: 100%;
    position: fixed;
    z-index: -1;
}

header img {
    display: block;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: top center;
    margin: 0 auto;
    max-width: calc(360px * 2 + 18px);
    min-width: 360px;
}

.header {
    height: 40vh;
}

main .wrap {
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: 50px auto;
    grid-template-areas: "section1 section2"
        "section1 section3";
    gap: 18px;
}

section {
    border-radius: 5px;
    padding: 31px 27px;
    background-color: #fff;
    width: 100%;
}

#section1 {
    grid-area: section1;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
}

.list-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    color: var(--gray-1);
}

li[class*="list-item"] button {
    flex-direction: column;
    padding: 9px 10px;
    border: 3px solid var(--blue, #6327FE);
    border-radius: 10px;
    gap: 7px;
}

li[class*="list-item"] img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    height: 65px;
}

li[class*="list-item"] strong {
    border-radius: 50px;
    padding: 5px 15px;
    background-color: var(--blue);
    color: #FFF;
}

.info {
    grid-template-columns: 200px auto;
    grid-template-rows: 33px 33px 106px;
    gap: 11px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}

.info p {
    background-color: #EAE8FE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-radius: 5px;
}

.info input {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px var(--grey);
    padding: 6px;
}

.info button {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px var(--grey);
    padding: 6px;
}

ul.get-cola {
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: var(--bg);
    padding: 12px;
    height: 90%;
}

li[class*="cola-list"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 6px;
}

li[class*="cola-list"] img {
    height: 33px;
}

li[class*="cola-list"] span {
    margin-right: auto;
}

li[class*="cola-list"] input {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid var(--grey);
    box-shadow: none;
    padding: 6px;
    flex-basis: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.info button.get-btn {
    color: #fff;
    background-color: var(--blue);
}

#section2 {
    grid-area: section2;
    padding: 9px 27px;
}

.my {
    background-color: var(--bg);
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 100%;
}

.my span {
    margin-right: auto;
}

.my strong {
    margin-left: auto;
}

#section3 {
    grid-area: section3;
}

.sum {
    margin-top: 6px;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}